<div class="container-fluid" ng-controller="AdminCtrl">
	<div class="row-fluid">
		<div class="card span4 offset4">
			<h3 class="card-heading simple">Zona para administradores</h3>
			<div class="card-body">
				<div class="control-group">
					<a class="btn btn-block btn-link" style="text-align: left" href="/admin/users"><i class="icon-group"></i>&nbsp;Administrar usuarios</a>
					<!--
					<a class="btn btn-block btn-link" style="text-align: left" href="/admin/data"><i class="icon-download"></i>&nbsp;Administrar datos</a>
					<a class="btn btn-block btn-link" style="text-align: left" href="/admin/reportes"><i class="icon-list-alt"></i>&nbsp;Reportes</a>
					<a class="btn btn-block btn-link" style="text-align: left" href="/comunas">Comunas</a>
					<a class="btn btn-block btn-link" style="text-align: left" href="/jurisdicciones">Jurisdicciones</a>
					<a class="btn btn-block btn-link" style="text-align: left" href="/funcionarios">Funcionarios</a>
					-->
				</div>
			</div>
		</div>
	</div>
</div>