
   <div class="modal-header" style="padding-bottom: 0px;">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Agregar documento</h3>
    </div>
    <div class="modal-body">
        <span style="display: inline-block; margin-top: 15px;">
            <span style="display: inline-block"> Nombre:<br /> 
                <input class="span4" type="text" placeholder="Nombre del documento" ng-model="presentacion.nombre" style="width: 380px;" />
            </span>
            <span style="display: inline-block"> Fecha:<br /> 
                <input class="span2" type="text" date placeholder="Fecha" ng-model="presentacion.fecha" style="width: 120px;" />
            </span><br />
            <span style="display: inline-block"> Autor:<br /> 
                <input class="span4" type="text" placeholder="Autor del documento" ng-model="presentacion.autor" style="width: 250px;" />
            </span>
            <span style="display: inline-block"> Referente DGCONTG:<br /> 
                <input class="span4" type="text" placeholder="Referente DGCONTG" ng-model="presentacion.referente" style="width: 250px;" />
            </span><br />
            <span style="display: inline-block"> Tags:<br /> 
                <input class="span5" type="text" placeholder="Separados por coma" ng-model="presentacion.tags" style="width: 380px;" />
            </span>
            <span style="display: inline-block"> Vencimiento:<br /> 
                <input class="span2" type="text" date placeholder="Vencimiento" ng-model="presentacion.vencimiento" style="width: 120px;" />
            </span><br />
            <span style="display: inline-block"> Tipo:<br /> 
                <select type="text" ui-select2 ng-model="presentacion.tipo" class="span2" style="width: 265px;">
                    <option ng-disabled="true" value=""></option>
                    <option value="Documento Word (.doc)">Documento Word (.doc)</option>
                    <option value="Presentación Powerpoint (.ppt)">Presentación Powerpoint (.ppt)</option>
                    <option value="Planilla Excel (.xls)">Planilla Excel (.xls)</option>
                    <option value="Documento PDF (.pdf)">Documento PDF (.pdf)</option>
                    <option value="Mail">Mail</option>
                    <option value="Project">Project</option>
                    <option value="Bizagi">Bizagi</option>
                    <option value="Otros">Otros</option>
                </select>
            </span>
            <span style="display: inline-block"> Fuente:<br /> 
                <select type="text" ui-select2 ng-model="presentacion.fuente" class="span3">
                    <option ng-disabled="true" value=""></option>
                    <option value="Reunión de Seguimiento (RS)">Reunión de Seguimiento (RS)</option>
                    <option value="Reunión Específica (RE)">Reunión Específica (RE)</option>
                    <option value="Referente Prensa Jurisdicción (RPJ)">Referente Prensa Jurisdicción (RPJ)</option>
                    <option value="Requerimiento Puntual (RP)">Requerimiento Puntual (RP)</option>
                    <option value="Reunión de Coordinación (RC)">Reunión de Coordinación (RC)</option>
                    <option value="Plan Operativo Anual (POA)">Plan Operativo Anual (POA)</option>
                    <option value="Otras Fuentes (especificar)">Otras Fuentes (especificar)</option>
                    <option value="Creación DGCONTG">Creación DGCONTG</option>
                </select>
            </span><br />
            <span style="display: inline-block"> Descripción:<br /> 
                <textarea style="height:40px; width:520px" placeholder="Descripción del documento" type="text"
                ng-model="presentacion.descripcion" />
            </span>
            <div class="control-group span5" style="margin-left: 0px; margin-right: 5px; margin-bottom: 0px;">
                <label style="margin-bottom: 0px">Tema:</label>
                <select ui-select2 class="span4" type="text" ng-model="presentacion.tema" ng-disabled="!editando" ng-options="i._id as i.nombre for i in temas" style="margin-left: 0px !important;">
                    <option ng-disabled="true" value=""></option>
                </select>
            </div>
            <br>
            <div style="width: 300px; display: inline-block;margin-top: 10px;" fine-uploader destination="'/upload/'" placeholder="'Examinar'" uploaded="uploaded"></div>
        </span>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Cancelar</a>
        <a href="#" class="btn btn-info" data-dismiss="modal" ng-click="agregarPresentacion(true)">Agregar documentación</a>
    </div>
