<div ng-model="instancia" changes-watch="ubicacion" style="margin-top: 0px;" ng-if="instancia" edit-model="live" ng-controller="ORMCalendarioTabEventoCtrl" class="card animated fadeInDown">
    <div class="card-actions pull-right" style="margin:0" ng-show="editando">
        <a class="btn btn-link" ng-click="applyChanges();guardarCambios()" style="padding-left: 0px; padding-right: 0px; margin-right: 5px;">
            <i class="icon-ok icon-white"></i>
        </a>
    </div>
    <div class="card-actions pull-right" ng-hide="editando" ng-if=hasPermission('orm.edicionReunion') style="margin: 0">
        <a ng-click="enviarCita()" type="button" class="btn btn-link" title="Enviar Cita">
            <i class="icon-envelope"></i> </a>
    </div>
    <div class="card-actions pull-right" ng-show="editando"  style="margin-right: 5px;">
        <a class="btn btn-link" ng-click="eliminar()" style="padding-left: 0px; padding-right: 0px;"><i class="icon-trash"></i></a>
    </div>
    <h3 class="card-heading simple">
        <span style="white-space: nowrap">
            <span style="display: inline-block; border-radius: 20px; padding: 13px; float: left; border: 0px solid rgb(0, 0, 0); margin-top: 6px; margin-right: 0px; margin-left: 5px; background-color:  {{reunion.tipo && colorReunion(reunion)}};"></span>&nbsp;
            <span ng-style="set_size">{{reunion.nombre}}</span>
        </span>
    </h3>
    <div class="card-body">
    <h4>
        <span class="pull-right">{{instancia.desdeHora}} a {{instancia.hastaHora}}</span>
        <span ng-click="editarFecha()" ng-hide="editando">{{instancia.fecha}}</span>
        <input type="text" date class="span2" ng-if="editando" ng-model="instancia.fecha" style="margin-bottom: 0px;">
        </h4>
    </div>
    
    <input ng-disabled="!editando" type="text" placeholder="Título secundario de la reunión"
        ng-model="live.subtitulo" style="padding-right: 0; width: 80%; display: inline-block;margin-left: 18px;">
    <button class="btn" style="margin-bottom: 10px; margin-left: 5px" ng-click="estadoReunion(t)" title="Estado de reunion..." ng-class="{'btn-info': live.estadoReunion}"><i class="icon-comment"></i></button>
    
    <h3 class="card-heading simple" style="padding-right: 0px;">Lugar de reunión
        <div class="card-actions pull-right" ng-if=hasPermission('orm.edicionReunion') style="margin: 0" ng-hide="editando">
            <a type="button" class="btn btn-link" ng-click="ubicacion()">
                <i class="icon-external-link"></i></a>
        </div>
    </h3>
    <div class="card-body" ng-style="{'padding-bottom': '10px' || ''}" style="margin-top: 13px;">
        <input ng-disabled="!editando" type="text" placeholder="Nombre del lugar"
        ng-model="live.ubicacion.nombre" style="padding-right: 0; width: 50%">
        <label class="checkbox pull-right" style="margin-top: 7px; margin-right: 15px;">
            <input type="checkbox" ng-disabled="!editando" ng-model="live.soporte"> <b style="font-size:16px">Soporte Informático</b>
        </label>
    </div>
    
</div>
    
<div id="comentarioGestion" class="modal hide fade" ng-controller="ORMEstadoReunionCtrl">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Estado de reunion: {{reunion.nombre}}</h3>
    </div>
    <div class="modal-body">
        <textarea class="span5" type="text" ng-disabled="!editando" placeholder="Sin estado de reunion" ng-model="instancia.estadoReunion" style="width: 520px;" rows="15"></textarea>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn pull-right" data-dismiss="modal">Cerrar</a>
        <a href="#" class="btn pull-right btn-primary" ng-if="editando" data-dismiss="modal" ng-click="estadoReunion(true)" style="margin-right: 10px;">Guardar</a>
    </div>
</div> 


<div id="confirmarEliminar" class="modal hide fade" ng-controller="ORMCalendarioTabEventoCtrl">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Eliminar reunión</h3>
    </div>
    <div class="modal-body">
        <p>Está a un paso de eliminar la reunión de {{reunion.nombre}}</p>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn btn-info" data-dismiss="modal">Conservar el registro</a>
        <a href="#" class="btn btn-danger" data-dismiss="modal" ng-click="eliminar(true)">Eliminar reunión</a>
    </div>
</div>

<div id="agregarUbicacion" class="modal hide fade" ng-controller="ORMUbicacionReunionCtrl">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Ubicación</h3>
    </div>
    <div class="modal-body">
        <span class="span4" style="display: inline-block;margin-left: 4px;"> Nombre:<br /> 
            <input type="text" placeholder="Nombre del lugar" ng-model="instancia.ubicacion.nombre" style="padding-right: 0; width: 100%; display: block">
        </span>
        <span class="span4" style="display: inline-block;margin-left: 4px;"> Como llegar:<br /> 
            <textarea placeholder="Como llegar al lugar" ng-model="instancia.ubicacion.comoLlego" style="width: 500px; height: 150px;" />
        </span>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn btn-info" data-dismiss="modal">Cancelar</a>
        <a href="#" class="btn btn-danger" data-dismiss="modal" ng-click="ubicacion(true)">Guardar</a>
    </div>
</div>