<div ng-controller="ORMCalendarioTabEventoCtrl" class="card" ng-class="{'animated fadeInDown': instancia}" ng-if="instancia" style="padding-bottom:14px;padding-top: 14px;margin-top: 0px;background-color:silver">
    <div class="card-actions pull-right" ng-if=hasPermission('orm.edicionReunion') style="margin: 0">
        <a type="button" href="/orm/reuniones/{{instancia._id}}/editableLlamados" class="btn btn-link" title="Cargar vuelta de Llamados">
            <i class="icon-external-link"></i></a>
    </div>
    <h3 class="card-heading simple" style="font-size: 19px;">Llamados</h3>
    <div class="card-body">
        <div class="control-group">
            <a href="/orm/reuniones/{{instancia._id}}/llamados" type="button" style="margin-bottom: 10px" class="btn btn-block">Imprimir</a>
        </div>
    </div>
</div>
