<div class="well">
    <ul class="referencia">
        <li ng-repeat="r in reuniones"
        style="{{estilo}}; padding: 4px 4px 0 4px vertical-align: middle">
            <span style="background-color: {{colorReunon(r)}}; width: 20px; height: 20px; display: inline-block">&nbsp;</span>&nbsp;
            <button type="button" ng-click="ver()" class="btn btn-link">{{r.nombre}}</button>
        </li>
        <li ng-show="editando" style="padding: 4px 4px 0 4px; margin-bottom: 0; margin-top: 4px">
            <span style="margin-bottom: 4px; width: 24px; height: 24px; display: inline-block">&nbsp;</span>&nbsp;
            <a href="/orm/reuniones/nueva" class="btn btn-link"><i class="icon-plus"></i>&nbsp;Crear un nuevo tipo de reunión</a>
        </li>
    </ul>
</div>