<!--Modal detalle reparticion-->
<div class="modal-header" style="padding-bottom: 10px;">
    <a type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
    <h3>Detalle repartición</h3>
</div>
<div style="width: 800px;" class="modal-body">
    <div style="display: inline-block"> Nombre largo:<br /> 
        <input style="width:400px; margin-bottom: 1px" type="text" ng-model="organi.nombreCompleto" />
    </div>
    <div style="display: inline-block; margin-bottom:5px"> Sigla:<br /> 
        <input style="width:150px; margin-bottom: 1px" type="text" ng-model="organi.sigla" />
    </div>
    <br>
    <div style="display: inline-block"> Nombre corto de organigrama:<br /> 
        <input style="width:400px; margin-bottom: 1px" type="text" ng-model="organi.nombreCortoOrganigrama" />
    </div>
    <div style="display: inline-block"> Nombre corto de jurisdicción:<br /> 
        <input style="width:150px; margin-bottom: 1px" type="text" ng-model="organi.nombreCortoJurisdiccion" />
    </div>
    
    <h4>Período:</h4>
    <div class="control-group">
        <div class="input-prepend display:inline-block">
            <label style="margin-bottom: -1px">Desde:</label>
            <!--FECHA-->
            <input type="text" ng-model="organi.periodoDesde"/><i class="icon-calendar"></i>
            <button type="submit" class="btn" data-trigger="click" bs-tooltip="tooltip.title"><i class="icon-calendar"></i></button>
        </div>
        <div class="input-append display:inline-block">
            <label style="margin-bottom: -1px">Hasta:</label>
            <!--FECHA-->
            <input type="text" ng-model="organi.periodoHasta"/><i class="icon-calendar"></i>
            <button type="submit" class="btn" data-trigger="click" bs-tooltip="tooltip.title"><i class="icon-calendar"></i></button>
        </div>
    </div>
    
    <div class="input-prepend inline-block" style="margin-left: 0px; margin-bottom: 0px; margin-right: 7px; margin-bottom: 10px; display: inline-block">
        <label style="margin-bottom: -1px;">Superior inmediato:</label>
        <select class="span4" ui-select2 type="text" style="width:300px" ng-model="organi.superiorInmediato" ng-options="i as i.nombreCompleto for i in organigramaSuperior | orderBy:'nombreCompleto'">
            <option value="">{{superiorInmediato.nombreCompleto}}</option>
        </select>
    </div>
    
    <div class="control-group" style="display: inline-block; margin-bottom: 10px">Nivel:<br /> 
        <select ui-select2 ng-model="organi.nivel">
            <option style="padding-left: 26px; padding-right: 26px" ng-repeat="l in listaNiveles" value="{{l.nombre}}">{{l.nombre}}</option>
        </select>
    </div>
    <br>
    <div class="control-group" style="display: inline-block;margin-bottom: 8px">Categoria:<br /> 
        <select ui-select2 ng-model="organi.categoria">
            <option style="padding-left: 26px; padding-right: 26px" ng-repeat="l in listaCategorias" value="{{l.nombre}}">{{l.nombre}}</option>
        </select>
    </div>
    <div style="display: inline-block"> Orden:<br /> 
        <input style="margin-bottom: 1px" type="text" ng-model="organi.orden" />
    </div>
    <br>
    <span style="padding-left: 15px" class="modal-footer">
        <!--<a href="#" class="btn" data-dismiss="modal" ng-click="eliminar()">Eliminar</a>-->
        <a href="#" class="btn" ng-click="cancelar()" data-dismiss="modal">Cancelar</a>
        <a href="#" class="btn btn-info" data-dismiss="modal" ng-click="guardar()">Guardar</a>
    </span>
</div>