<div ng-controller="ORMMinutaCtrl">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <div class="span6">
                    <div ng-include src="'/views/orm/minuta/cards/estado.html'"></div>
                    <div ng-include src="'/views/orm/minuta/cards/editor.html'"></div>
                </div>
                <div class="span6">
                    <div ng-include src="'/views/orm/minuta/cards/agregarCompro.html'"></div>
                    <div ng-include src="'/views/orm/minuta/cards/compromisos.html'"></div>
                    <div ng-include src="'/views/orm/minuta/cards/listaDeEnvio.html'"></div>
                </div>
            </div>
        </div>
    </div>
</div>