<div class="card" ng-controller="ORMReunionReportePrincipalCtrl">
<div class="container-fluid">
    <h3 class="card-heading simple no-print" style="padding-left: 0px; font-size:14px;padding-right: 0px;height: 45px;margin-bottom: 10px;">
        <ul class="nav nav-pills">
            <li ng-class="{'active': tab == 'calendario'}">
                <a ng-click="tab='calendario'" href="#" data-toggle="tab">Calendario Tabla</a>
            </li>
            <li ng-class="{'active': tab == 'estadisticas'}">
                <a ng-click="tab='estadisticas'" href="#" data-toggle="tab">Estadísticas</a>
            </li>
            <li ng-class="{'active': tab == 'porcentajes'}">
                <a ng-click="tab='porcentajes'" href="#" data-toggle="tab">Reporte Porcentajes</a>
            </li>
            <li ng-class="{'active': tab == 'proximas'}">
                <a ng-click="tab='proximas'" href="#" data-toggle="tab">Próximas Reuniones</a>
            </li>
            <li ng-class="{'active': tab == 'horarios'}">
                <a ng-click="tab='horarios'" href="#" data-toggle="tab">Horarios</a>
            </li>
            <li ng-class="{'active': tab == 'partiEstrella'}">
                <a ng-click="tab='partiEstrella'" href="#" data-toggle="tab">Participantes Estrella</a>
            </li>
            <li ng-class="{'active': tab == 'reuniones'}">
                <a ng-click="tab='reuniones'" href="#" data-toggle="tab">Reuniones</a>
            </li>
            <li ng-class="{'active': tab == 'reunionesCompleto'}">
                <a ng-click="tab='reunionesCompleto'" href="#" data-toggle="tab">Reuniones Completo</a>
            </li>
            <li ng-class="{'active': tab == 'otros'}">
                <a ng-click="tab='otros'" href="#" data-toggle="tab">Otros</a>
            </li>
        </ul>
    </h3>
    <div ng-if="tab == 'estadisticas'" class="card-body" ng-include src="'/views/orm/reportes/estadisticas.html'"></div>
    <div ng-if="tab == 'porcentajes'" class="card-body" ng-include src="'/views/orm/reportes/reporteEstadistica.html'"></div>
    <div ng-if="tab == 'proximas'" class="card-body" ng-include src="'/views/orm/reportes/proximasReuniones.html'"></div>
    <div ng-if="tab == 'horarios'" class="card-body" ng-include src="'/views/orm/reportes/horarios.html'"></div>
    <div ng-if="tab == 'reuniones'" class="card-body" ng-include src="'/views/orm/reportes/reportesReuniones.html'"></div>
    <div ng-if="tab == 'otros'" class="card-body" ng-include src="'/views/orm/reportes/reportesOtros.html'"></div>
    <div ng-if="tab == 'partiEstrella'" class="card-body" ng-include src="'/views/orm/reportes/reporteEstrellas.html'"></div>
    <div ng-if="tab == 'calendario'" class="card-body" ng-include src="'/views/orm/reportes/calendarioTabla.html'"></div>
    <div ng-if="tab == 'reunionesCompleto'" class="card-body" ng-include src="'/views/orm/reportes/reportesReunionesCompleto.html'"></div>
</div>
</div>